body{
	margin:0px;
	border:0px;
	padding:0px;
	width:100%;
	height:100%;
	overflow: hidden;
	background-image:url("beijing.jpg");
	background-reapet:no-repeat;
	background-size:100% 100%;
	background-attachment:fixed;
	background-color:aliceblue;
}


.contient{
    width:100%;
    height:615px;
    margin:0 auto;
    margin-top:-16px;
}
.nav{
    width:100%;
    height:60px;
    background-color:steelblue;
}
              
.dht{
    width:1024px;
    height:100%;
    background-color:steelblue;
    position:relative;
    top:0;
    border:0px;
    margin:0 auto;
}
.dht ul{
	
    width: auto;
    list-style-type: none;
    white-space:nowrap;
    overflow:hidden;
    margin-left:30px;
    padding:0px;
     border:0px;
}
#logo{
	width:50;
	height:50;
}
.dht1{
    width:280px;
    float:left;
    margin-right:200px;
    position: relative;
    overflow: hidden;
    margin-top:1%;
}
.dht2{
    width:80px;
    float:left;
    margin-right:10px;
    position: relative;
    overflow: hidden;
}
.dht li a{
    display: block;
    color:white;
    text-align: center;
    margin-top:25%;
    overflow: hidden;
    text-decoration: none;
}
.dht li a:hover{
	color:lightsteelblue;
}
.dht ul li img{
	width:40px;
	height:40px;
	float:left;
	margin-top:1%;
	margin-right:20px;
}
              
      
.contient2{
	width:1024px;
	height:510px;
	margin:0 auto;
}
					
.logo img{
	margin-top:30px;
	padding-left:30px;
}
.contient3{
	width:1024px;
}
.footer{
	width:100%;
	position:fixed;
	bottom:0;
	text-align:center;
}
form{
	margin:auto;
	width:500px;
	text-align:center;
	border-radius:10px;
	border:1px solid #B0C4DE;
	background-color:rgba(255,255,255,0.1);
}
form input{
	border:1px solid steelblue;
	border-radius:5px;
}
form select{
	border:1px solid steelblue;
	border-radius:5px;					
}
form textarea{
	border:1px solid steelblue;
	border-radius:5px;				
}
